// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import './../../node_modules/quill/dist/quill.bubble.css';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

body, html {
    height: 100%;
    background-color: #f5f5f5;
}
#app {

  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -45px;
}

footer,
.push {
  height: 50px;
}
.bg {
  background-color: #191411 !important;

  /* Half height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Parent Container */
.content_img{
    position: relative;
    width: 400px; 
    height: 264px;
    float: left;
    margin-right: 10px;
}

/* Child Text Container */
.content_img div{
 position: absolute;
 bottom: 0;
 right: 0;
 background: black;
 color: white;
 margin-bottom: 5px;
 font-family: sans-serif;
 opacity: 0;
 visibility: hidden;
 -webkit-transition: visibility 0s, opacity 0.5s linear; 
 transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.content_img:hover{
 cursor: pointer;
}

.content_img:hover div{
 width: 150px;
 padding: 8px 15px;
 visibility: visible;
 opacity: 0.7; 
}
